@font-face {
    font-family: "JUST";
    src: url(../FONTS/static/Antonio-Bold.ttf) format("trutype");
    src: url(../FONTS/Antonio-VariableFont_wght.ttf) format("trutype"),
         url(../FONTS/static/Antonio-ExtraLight.ttf) format("trutype"),
         url(../FONTS/static/Antonio-Light.ttf) format("trutype"),
         url(../FONTS/static/Antonio-Medium.ttf) format("trutype"),
         url(../FONTS/static/Antonio-Regular.ttf) format("trutype"),
         url(../FONTS/static/Antonio-SemiBold.ttf)format("trutype"),
         url(../FONTS/static/Antonio-Thin.ttf) format("trutype");
         font-weight: bolder;
         font-style: bold;
    
}
body{
    font-family: "JUST";
    font-size: 14px;
    color:black;
    line-height: 1.429;
}
body .custom-navbar{
    border-bottom: 3px solid #000000;
    width: 100%;
    background-color: rgb(253, 253, 253);
    padding-top: 15px;
    padding-bottom: 15px;
}
body .custom-form{
    border: 3px solid black;
    box-shadow: none;
    border-radius: 3px;
    font-family: "JUST";
    font-size: 18px;
    transition: all 0.5 ease-in-out;
   border-right: 0;
   border-radius: 0;

}
.btn-chek{
    border: 3px solid black;
    box-shadow: none;
    border-radius: 3px;
    font-family: "JUST";
    
}
.btn-chek:hover{
    
    color:rgba(255, 255, 255, 0.888);
}
.catogeory .nav-link{
border-left: 0;
border-radius: 0;

}
body .cust-dropdown .checkbox{
    display: inline-block;
    margin: 0 5px;
}
.dropdown-menu{
    text-align: left !important;
}
body .cust-dropdown .checkbox label input{
    margin-right: 5px;
}
.cust-dropdown{
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #ebebe0;
    color: rgb(0, 0, 0);
}
body .search-button{
    background-color: black;
    border-color: #777;
    color: rgb(174, 74, 74);
    padding: 10.5px 16.5px 10.5px 16.5px;
    font-size: 300;
    border-left: 0;
    border-radius: 0;
    margin-right: 100px;
}
body .custom-navbar .search-button:hover,
body .custom-navbar .search-button:active,
body .custom-navbar .search-button:focus,
body .custom-navbar .search-button:active:focus,
body .custom-navbar .search-button:active:hover{
    background-color: transparent;
    border-color: #000000;
    color: rgb(15, 15, 15);
    border-left: 0;
    border-radius: 0;

}
 body .custom-navbar .navbar-nav li a.nav-link{
    color: rgb(130, 130, 130);
    font-size: 14px;
    padding: 15px;
 }
 body .custom-navbar .navbar-nav li a.nav-link:hover{
    color: #000;
 }
 body .custom-navbar .navbar-nav li.active a.nav-link{
    color: black;
    border-bottom: 2px solid black;
    font-weight: 500;
 }
 body .custom-navbar .navbar-nav li:hover
 {
    color: gray;
    border-bottom: 1px solid black;
    font-weight: 400;
 }
 .nav-item.dropdown .dropdown-menu{
    left: auto;
 }
 .cust-dropdown-menu li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
 }
 .custom-navbar a.custom-button{
    background-color: rgb(3, 3, 3);
    border-bottom: 2px solid white !important;
    border-radius: 2px;
    margin-left: 45px;
 }
 body .custom-navbar .navbar-nav li:last-of-type{
 border-bottom: none;
 }
 .custom-navbar a.custom-button:hover{
    border-bottom: 6px rgb(125, 113, 113) solid !important;

 }
 /*carousel*/
 #carousel-features{
background-color: rgb(0, 0, 0);
height: 400px;
padding-top: 25px;
 }
 #carousel-features .product-details{
    border: 3px solid rgb(255, 255, 255);
    padding: 40px;
    position: relative;
    top: 50px;
    height: 200px;
    color: aliceblue;
 }
 #carousel-features .product-details .product-categroy{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    top: -3px;
    position: absolute;
    border: none;
    background-color: white;
    color: #000;
 }
 #carousel-features .product-details .custom-btn-primary{
    color: #000;
    background-color: white;
    border-color: crimson;
    padding: 15px 9px;
    margin-top: 10px;
    border-radius: 6px;
 }
 .btn {
   background-color: black;
   border: 1px solid #9d3535d1 !important;
   border-radius: 0.25rem;
   color: #212529;
   display: inline-block;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   padding: 0.375rem 0.75rem;
   text-align: center;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   vertical-align: middle;
}
 #carousel-features .product-details .custom-btn-primary:hover{
    color: white;
    background-color: transparent;
    border-color: white;
 }
 .sale{
    background-color: white;
    color: #000;
    font-weight: bold;
    position: absolute;
 }
 .sale.large{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: -15px;
    right:-15px;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
    display: flex;
    font-size: 130%;
    padding: 35px;
    text-align: center;
    line-height: 90%;
 }
 #carousel-features .product-details .sale.large span{
    font-size: 12px;
 }
 .custom-carsoul-indicatures img{
   height: 75px;
   width: 75px;
   background-color: white;
   border: 2px solid rgba(210, 49, 49, 0.733);
   margin-right: 2px;
 }
 .custom-carsoul-indicatures img.active{
   color: rgb(34, 33, 33);
 }
 .custom-carousel-indicators-primary {
   top: 235px;
   right: 41%;
}

.custom-carousel-indicators-primary img {
   height: 75px;
   width: 75px;
   background-color: #fff;
   border: 2px solid #dddddb;
   margin-right: 2px;
}
 .custom-carsoul-indicatures{
   width:auto ;
   height: auto;
 }
 #carousel-features .carousel-control-next,
#carousel-features .carousel-control-prev{
   color: white !important;
   font-size: 28px;

}
#carousel-features .carousel-item img{
   margin-left: 0px;
   margin-right: 0px;
   height: 375px;
}
#carousel-features .carousel-row{
   padding-right: 0px;
   padding-left: 0px;
}
#carousel-features .product-details h1{
   font-weight: 700;
   font-size: 175%;
   margin-top: 18px;
}
#store-feature{
   box-shadow: 0 0 20px rgb(177, 146, 146);
   position: relative;
   top: -40px;
   background-size: auto 60%;
}
#store-feature .custom-heading{
   color: whitesmoke;
   background-color: transparent;
   background-repeat: no-repeat;
padding-bottom: 35px;
}
#store-feature .feature>img{
   height: 40px;
   margin-bottom: 10px;
}
.carousel-row>.col-12{
   padding-right: 0px;
   padding-left: 0px;
}
#store-feature .feature+.feature{
   border-left: 1px solid #d4d4d4;
}
h3.custom-heading{
   font-size: 24px;
  margin-bottom: 25px;
}
.custom-thumbnail{
   border: 3px solid #000000;
   padding: 8px;
   margin-bottom: 20px;
   cursor: pointer;
   margin-bottom: 20px;
}
.custom-thumbnail:hover{
   border-color: #777;
}
.custom-thumbnail h4{
   font-size: 18px;
padding-top: 10px;
}
.custom-thumbnail .card-body{
   padding: 9px;
}
.custom-thumbnail .price{
   color: rgb(104, 104, 104);
}
.custom-thumbnail .overlay{
   position: absolute;
   background-color: rgba(52, 55, 55, 0.5);
   width: calc(100% - 16px);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   height: 250px;
   transition: all .3s ease;
}
.custom-thumbnail .overlay:hover{
   opacity: 1;
}
.custom-thumbnail .price{
   padding-top: 10px;
}
.rating{
   color: #C2C2C2;
}
.rating .active{
   color: #f3af41;
}
 .custom-btn.add-to-cart-btn{
   background-color: white;
   color: #000;
 }
 .custom-btn.add-to-cart-btn:hover,
 .custom-btn.add-to-cart-btn:active,
 .custom-btn.add-to-cart-btn:focus,
 .custom-btn.add-to-cart-btn:active:focus,
 .custom-btn.add-to-cart-btn:active:hover{
background-color: transparent;
color: white;
}
.custom-thumbnail .sale{
   padding: 5px 10px;
   background-color: gray;
   color: rgb(255, 255, 255);
   font-weight: bold;
   position: absolute;
   left: 16px;
   top: 18px;
   direction: ltr;
}
.custom-thumbnail .sale::before{
   background-color: gray;
   color: white;
   content: '-';
}
.custom-thumbnail .sale:hover{
   background-color: rgb(0, 0, 0);
   color:white ;
}
.custom-carousel-indicators>li{
   height: 13px;
   width: 13px;
   margin: 2px;
   background-color: #020202;
   color: black;
}
.custom-carousel-indicators>li:active{
   color: #9e2525;
}
#carousel-most-sold .carousel-indicators{
   position: static;
}
.custom-thumbnail img{
   height: 250px;
   width: 100%;
   max-width: 250px;
}
.custom-indicators {
   background-color: #777;
}
.custom-form-control, .custom-btn{
   border: 1px solid #EBEBEB;
   box-shadow: none;
   border-radius: 2px;
   font-size: 14px;
   transition: all 0.3s ease;
   padding: 6px 16px 7px 16px;
   color: #68686868;
}
.custom-navbar .container .navbar-brand{
   margin-left: 30px;
   margin-top: 40px;
}
.custom-navbar .container{
   padding: 0;
}
.custom-navbar .container .custom-form-control:focus{
   border-color: rgba(0, 0, 0, 0.815);
   box-shadow: 0 0 2px 0 ;
}
/* internatonal brand */
.custom-panel{
border: 4px solid rgb(179, 178, 178);
border-radius: 2px;
box-shadow: none;
padding: 20px;
}
.custom-panel .product-image{
   width: 100%;
   margin-bottom: 8px;
}
.custom-panel h4, .custom-panel .price{
   font-size: 130%;
   margin-top: 0;
   margin-bottom: 15px;
}
.custom-text.muted{
   color: rgb(210, 210, 210);
}
.custom-arrow-btn{
   background-color: #fff;
   color: #777;
   border: 1px solid #EBEBEB;
   box-shadow: none;
   border-radius: 2px;
   padding: 5 10px;
}
.custom-arrow-btn{
   color: #777;
   background-color: #000000;
   border: 2px solid #EBEBEB;
   padding: 5px 10px;
   font-size: 12px;
}
.brand-products{
   margin-bottom: 20px;
}
.brand-text{
   display: inline-block;
}
.brand-products .brand-nav{
   margin-top: 14px;
}
#row-brand  h3.custom-heading{
   border-top: 4px solid #322f2f;
   padding-top: 25px;
}
hr.bst-hr{
   width: 40%;
   color: black;
}
section.last-footer {
   background-image: url(../IMG/bg_footer_1.png);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   padding: 14px;
 }
 .custom-panel{
   border: 4px solid #eef0ea;
   border-radius: 2px;
   box-shadow: none;
   padding: 20px;
}
.custom-panel .product-image{
   width: 100%;
   margin-bottom: 8px;

}
.custom-btn-primary{
   color: #f8ad47;
   border-color: #f8ad47 ;
   background-color: transparent;

}
.custom-btn-primary:hover,
.custom-btn-primary:active,
.custom-btn-primary:focus,
.custom-btn-primary:active:focus,
.custom-btn-primary:active:hover{
   border-color:#b86d07 ;
   border-color: #b86d07;
   background-color: transparent;
}
.custom-panel h4,.custom-panel .price{
   font-size: 130%;
   margin-bottom: 15px;
   margin-top: 0px;
   display: inline-block;

}
.custom-text-muted{
   color: #a9a9a9;
}
.custom-arrow-btn{
   background-color: #fff;
   color: #868686;
   border:1px solid #ebebeb ;
   box-shadow: none;
   padding: 5px 10px;
   font-size: 12px;
}
.brand-products{
   margin-bottom: 20px;

}
.brand-products .brand-nav{
   margin-top: 14px;
}
#row-brands h3.custom-heading{
   border-top: 1px solid #eef0ea;
   padding-top: 25px;
}
/*تذييل الصفحة */
#brand-logos{
   background-color: #dbeefa;
   padding: 25px 0 ;
   color: #555555;
}
#brand-logos img{
   margin-left: 25px;
   margin-right: 25px;
   max-height: 100px;
   max-width: 100px;
}
#footer-nav{
   background-color: rgb(31, 30, 30);
   padding: 50px 0 40px;
   background-image: url(../IMG/bg_footer_1.png),url(../IMG/bg_footer_2.png);
background-repeat: no-repeat,no-repeat;
background-position:110% 0 ,-10% -50%;
}
#footer-nav-links{
   margin: 35px 0;
}
#footer-nav-links a{
   color: #555555;
   margin-left: 30px;
   font-weight: bold;
}
#footer-nav-links a:hover{
text-decoration: none;
}
#footer-nav #newsletter{
   border-top: 1px solid #292929;
}
#footer-nav form{
   max-width: 260px;
   margin: auto;
}
input[type=email]{
   direction: rtl;
   text-align: right;
}
#footer-nav form label{
   margin: 27px 0 16px;
   font-size: 12px;
   font-weight: bold;
   color: #555555;
}
.custom-btn-primary2{
   color: #000;
   background-color:#f8ad47 ;
   border-color: #f8ad47;

}
.custom-btn-primary2:hover,
.custom-btn-primary2:active,
.custom-btn-primary2:focus,
.custom-btn-primary2:active:focus,
.custom-btn-primary2:active:hover{
   background-color: #b86d07;
   border-color: #b86d07;
   color: #000;
}
#newsletter form input{
   background-color: #313131;
   opacity: .6;
   height: 38px;
   border: none;

}
#newsletter form button{
   border-radius: 0px;
   border-top-left-radius:3px;
   border-bottom-left-radius:3px;
   padding: 6px 12px 5px ;
   font-size: 14px;
   color: inherit;
} 
#footer-copyright-social{
   background-color: #151515;
   color: #303030;
   padding-top: 30px;
   padding-bottom: 30px;
   font-weight: 700;
}
#footer-copyright-social a{
   color: #303030;
   margin-left: 5px;
   margin-right: 5px;

}

/*****************************************************************
                                                    poduct--Page*/
 /*****************************************************************/
 .custom-breadcrumb{
   background-color: transparent;
   padding: 25px 0;
   padding-top: 6px;
}
.breadcrumb {
   background-color: #fbfbfb00 !important;
}
.custom-breadcrumb>li+li::before{
  content: ">";
  color: #555555;
  padding: 0 5px;
}
.custom-breadcrumb li.active{
   color: #bfbfbf;
}
.custom-breadcrumb a{
   color: #555555;
   text-decoration: none;
}
.custom-breadcrumb a:hover{
   color: #f8ad47;
}
#carousel-product-images .carousel-indicators{
   position: relative;
   top: -35px;
   right:10%;
}
#carousel-product-images .carousel-item img{
   border: 1px solid #ebebeb;
   width: 100%;
}
#form-product-section .block-100{
   display: block;
   width: 100%;
}
.product-category{
   color: #a9a9a9;
}
#form-product-section h2{
   font-size: 30px;
   font-weight: 700;
   margin: 18px 0;
}
.large.price{
   font-size: 30px;
   margin-top: 20px;
}
.borders-bettween>div+div{
   border-top:1px solid #ebebeb;
   padding: 15px 0;
}
.product-option{
   display: inline-block;
   width: 23px;
  height: 23px;
  border: 1px solid #ebebeb;
  text-align: center;
  color: #c2c2c2;
  margin: 3px 3px 9px 3px;
}
.product-option input{
   display: none;
}
.product-option label{
   font-weight: 700;
   width: 100%;
}

.product-option.active{
   color: #f8ad47;
   border-color: #f8ad47;
}
.color-option.active{
   border-color: #fff;
   outline:#000 solid 1px;
}
.product-quantity select{
   width: 56px;
   height: 34px;
   padding: 6px 12px;
   margin-right: 3px;
}
.product-quantity .label{
  padding-top: 10px;
}
.product-quantity{
   padding-bottom: 20px !important;
}
.custom-btn-with-icon{
   font-size: 18px ;
   padding: 5px 10px;
   margin: 15px 0 10px;
}
.heading-with-border-bottom{
   border-bottom: 2px solid #ebebeb;
   padding-bottom: 15px;
}
.heading-inline{
   min-width: 250px;
   display: inline-block;
}
.more-description p , 
.more-description ul{
   margin-bottom: 10px;
}
.media{
  margin: 15px;
}

.comments .media img{
   width: 80px;
   height: 80px;
   margin-left: 10px;
   border: 1px solid #dfdfdf;
}
.comments .media .media-heading{
   font-size: 18px;
   margin-bottom: 5px;
} 
.suggestions .custom-thumbnail{
   margin-right: -8px;
   margin-left: -8px;
}

/*****************************************************************
                                                 checkout--Page*/
/*****************************************************************/
.custom-table .custom-media img{
  width: 80px;
  height: 80px;
  border: 1px solid #ebebeb;
  margin-left: 10px;
}
.custom-table .custom-media .media-body h4{
  font-size: 18px;
  margin: 12px 0;
}
.custom-table th , .custom-table td{
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
  border-top:1px solid #ebebeb;
  font-size: 120%;
}
.custom-table th:first-child , .custom-table td:first-child{
  width: 50%;
}
.custom-table th{
  font-weight: normal;
  color: #c2c2c2;

}
.custom-table .quantity{
  width: 56px;
  height: 34px !important;
  padding: 0 8px;
  margin:  0 auto;
}
.custom-btn-danger{
  background-color: transparent;
  border-color: #ff5a5f;
  color: #ff5a5f;
  border-radius: 3px;
}
.custom-btn-danger:active,
.custom-btn-danger:hover,
.custom-btn-danger:focus,
.custom-btn-danger:active:focus,
.custom-btn-danger:active:hover{
  border-color: #c2101e ;
  color: #c2101e ;
  background-color: transparent;
}
.custom-table .custom-media{
  margin: 15px 15px 0;
}
.custom-table th:first-child{
  padding-right: 20px;
}
.custom-table tfoot td{
  border-bottom: none;
  font-size: 150%;
}
.custom-table .total-price *{
  color: #000;
}
.custom-table .total-price .custom-text-muted .custom-text-muted{
  color: #a9a9a9;
}

/*******************page search *************************************/
li.nav-item a{
   color: black;
   font-size: 15px;
}
li.nav-item.active{
   border-bottom: 1px solid red;
   
   
}
li.nav-item.active a{
   color: red;
}
#form-advanced-search{
   border: 1px solid #ebebeb;
   padding-bottom: 20px;
   border: none;
   display: table;
}
.list-group-item{
   border: none;
   padding: 0 10px 14px 0;
}
.list-group-item:last-child{
   padding: 0 10px 0 0;
}
.custom-panel .card-header{
   background-color: transparent;
   margin-bottom: 15px;
   padding: 7px 10px 13px;
}
#form-advanced-search label{
   font-weight: bold;
   cursor: pointer;
}

.ui-slider{
   margin: 25px 0 15px !important;
   height: 2px !important;
}
.ui-slider .ui-slider-handle{
   background-color: #f8ad47 !important;
   border: none !important;
   height: 12px !important;
   width: 12px !important;
   border-radius: 50% !important;
   top: -6px !important;

}
.ui-slider .ui-slider-range{
   border: 1px solid #F8ad47 !important;
   top: -1px !important;
}

.custom-pagination{
   margin: 25px 0;
}

.custom-pagination li a{
   border: 1px solid #ebebeb;
   width: 32px;
   height: 32px;
   display: inline-block;/*اجباري مع الروابط*/
   line-height: 32px;
   margin-right: 3px;
   margin-left: 3px;
   color: #c2c2c2;
   text-align: center;
   transition: all .5s ease;
   text-decoration: none;
}
.custom-pagination li.active a{
   background-color: #F8ad47;
   border-color: #f8ad47;
   color: #FFF;
}
.custom-pagination li a:hover,
.custom-pagination li a:active,
.custom-pagination li a:focus{
   color: #ab7731;
   border-color: #ab7731;
}
#search-result .custom-thumbnai{
   margin-right: -8px;
   margin-left: -8px;
}

/*********************************contact*********************/

#map iframe{
   padding: 0;
   width:100% !important;
}
#contact-option h4{
   font-size: 18px;
   padding-bottom: 12px;
   margin-bottom: 20px;
}
#contact-info{
   margin-bottom: 25px;
}
#contact-info .fa-lg{
   color:#141414;
   font-size: 18px;
   width: 25px;
   text-align: center;
   margin: 10px 10px 7px 10px;
}




